body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

#ui {
  position: relative;
  width: 400px;
  z-index: 2;
  background: white;
  opacity: 0.9;
  padding: 10px 10px 3px 10px;
}

#intro {
  font-size: small;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

#mapid {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.leaflet-control-zoom {
  display: none;
}

.latlonlabel {
  display: inline-block;
  width: 80px;
}

li {
  line-height: 1.2em;
}

li:last-of-type {
  margin-bottom: 0.5em;
}

#copyright {
  font-size: xx-small;
}

a {
  text-decoration: none;
}
